{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>家人有约</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script>
$.post("/API/UserCheck.ashx?action=HasLogged", "", function (data) {
	if (!data || data == "-1") {
		location = "/wxpromo.aspx?r="+window.location.href;
	}
});
</script>
<style>
.jiaren_main { font-family: "STHeiti","Microsoft YaHei","黑体","arial";}
.jiaren_main h4 { margin-top:20px; margin-bottom:20px; color:#c00;}
.jiaren_bottom { margin-top:30px; text-align:center; margin-bottom:20px; font-family: "STHeiti","Microsoft YaHei","黑体","arial";}
.jiaren_main p { margin-bottom:0;text-indent:20px;}
</style>
</head>
<body>
<div class="jiaren_bottom">
<p>您消费、您分享、您获益</p>
<img src="{$CssDir/}images/weixin.jpg" alt="微信二维码" />
<p>长安上图/识别图中二维码，前往购买</p>
</div>
<div class="container jiaren_main">
<p>“我点吧”不仅让你开心购物，还设计了一套让你轻松赚钱的商业模式，此模式可以让你月入数万，不需要投资，你敢相信吗？</p>
<h4>请仔细看下去，你一定会惊讶</h4>
<p>举例，今天你买了一件漂亮精美、价格超值的衣服，你的朋友看了也想买，你就带他们去购买，也就是说，你引导了消费。但是，卖衣服的老板没给你任何好处，你算免费帮他一个忙。此时，你的行为已是一个商业行为，通俗理解就是：中介。不过你这个商人没有赚到一分钱，做着没有收益的商业行为。</p>
<p>如果你介绍朋友去购买后，卖衣服的老板将其中一部分利益拿出来奖励你，希望你继续成为他的忠实顾客，还能为他介绍更多的人到店里购买衣服。并且你介绍的更多，分得利润更多；甚至你介绍的好友也同样介绍自己的朋友去买，老板为了感谢你，也将你好友转介绍过去的朋友买衣服消费后的部分利益拿出来奖励你。</p>
<h4>请问，你愿意接受吗？</h4>
<p>一直以来，只有经营者赚钱，消费者花钱。如果消费者也想赚钱，想参与商业利润的分配，在以前是不敢想象的！“移动互联网+”时代的到来，将推倒并重建当下的“消费关系”，消费者升级为消费商！</p>
<h4>赚钱流程</h4>
<p>注册成为“我点吧”正式官方会员，就可以通过分享，推荐A来购买我们的产品，那么A就变成了你的第一层消费会员。如果A同样觉得我们的商品好，通过分享，推荐B来购买我们的产品，那么B就成为了A的第一层消费会员，成为你的第二层消费会员。以此类推，不断循环，直到第三层消费会员。</p>
<h4>收益来源</h4>
<p>第一层会员拿20%，第二层会员拿5%的积分，第三层会员拿3%的积分。积分可在“我点吧”中的淘吧商城中购物抵用</p>
<p>假设，我们销售价格128元的纳豆枸杞苦荞麦粉，采取三层分销的返利政策奖励给东家：</p>
<p>第一层会员拿20%，也就是128×20%=25.6元</p>
<p>第二层会员拿5%，  也就是640个积分</p>
<p>第三层会员拿3%，  也就是384个积分</p>
<p>推荐朋友来“我点吧”消费，有吃的，用的，玩的，只是叫朋友换一个地方就餐或者买东西，重点是，“我点吧”提供优质便捷的快餐服务，会提供更多更好的健康食材来满足大家的需求，保证商品品质，所以你可以放心推荐你的朋友来“我点吧”点餐、购物购物！</p>
<p>那么，每个人推荐5个朋友来“我点吧”购物，买点水饺、蜂蜜、营养粉等健康产品不难吧？</p>
<p>当然，你完全可以推荐更多人来“我点吧”购物，而且，我们确认很多人会在“我点吧”购买很多商品！为了方便计算，我们仅仅以你推荐5个人来“我点吧”购物、按照每个人只消费128元纳豆枸杞苦荞麦粉、然后层层复制五个人来消费计算佣金：</p>
<p>第一层：5人×26.6元=128元</p>
<p>第二层：5×5人=25人×640积分=16000积分</p>
<p>第三层：25×5人=125人×384积分=48000积分</p>
<h4>看到复制模式的威力了吧</h4>
<p>在这个分享的过程中，</p>
<p>你没有投资一分钱，</p>
<p>只是在“我点吧”买了放心的商品，</p>
<p>而且每个人都是花同样的钱买到同样的产品，</p>
<p>你没有赚取任何一个朋友一分钱的差价，</p>
<p>但是却获得大量财富！</p>
<h4>佣金发放办法</h4>
<p>1）补贴发放条件：</p>
<p>会员必须在在“我点吧”消费198元，才可提取佣金。</p>
<p>2）补贴发放时间：</p>
<p>会员提交可提现的金额，银行卡号，开户行，姓名，电话号码，2个工作日内，平台审核后发放到会员的银行卡，提现金额只能是200或者200的倍数。如可提现金额为580元，提现只可提400元，剩下的180元等凑足200元方可提现。</p>
<h4>强大系统设置助力推广</h4>
<p>如果A通过你分享的推广图片或者推广链接关注了我们的平台，他就变成你的第一层会员，不会改变、不能取消、终身锁定客户！所以，当A一旦成功购买我们产品，不管他自己是否愿意，他都是你的有效推广客户，被动给你创造财富收入。你要知道：A成为你的第一层会员之后，A客户后面到第三层会员。不管他们自己是否愿意，都会被动帮你创造财富……</p>
<h4>请注意！！</h4>
<p>如果你没有及时将你的推广图片或者推广链接发给你的朋友，如果他通过别人的推广图片关注“我点吧”，或者通过微信搜索等别的渠道来关注“我点吧”，那么就算他取消关注，再次扫描你的二维码重新关注，也不能成为你的会员！</p>
<p>所以，“我点吧”的推广力度会越来越大，追求商品品质的人会越来越多，你必须在最快的时间成为“我点吧”的东家，第一时间把推广图片发给你的朋友，锁定你的财富！</p>

</div>
<div class="jiaren_bottom">
<p>长安下图/识别图中二维码，前往购买</p>
<img src="{$CssDir/}images/weixin.jpg" alt="微信二维码" />
<p>您消费、您分享、您赚钱</p>
</div>
</body>
</html>