{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
</head>
<body>
<section class="sj_banner">
<div class="container">
 <div class="row">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<h1>我们提供最优秀的餐饮生活产业系统服务</h1>
<p>无论是生活用品，还是食品，还有与所有的合作伙伴一起，节省每一分生活支持，创造每一分生活体验，并以此开拓市场，正中我们的软件服务一样的精致、可靠、卓越。</p>
<a class="btn btn-primary btn-lg">立即使用</a>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<img src="{$CssDir/}images/sj_pc.png" alt="商家" />

</div>
</div>
</div>
</section>


<div class="container sj_list">
<ul>
<a href="/user/"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p1.jpg" alt="会员管理平台" />
</div>
<div class="sj_list_txt">
<span>会员管理平台</span>
消费者即个人会员登陆使用,免费注册享受服务。
</div>
</li></a>

<a href="#"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p2.jpg" alt="商家管理平台" />
</div>
<div class="sj_list_txt">
<span>商家管理平台</span>
外卖商家独立的管理功能，查看外卖等功能。
</div>
</li></a>

<a href="#"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p3.jpg" alt="卖家管理系统" />
</div>
<div class="sj_list_txt">
<span>卖家管理系统</span>
在“淘吧”销售各类商品的应用，是官方的商品实物商城。
</div>
</li></a>

<a href="#"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p4.jpg" alt="门店管理系统" />
</div>
<div class="sj_list_txt">
<span>门店管理系统</span>
用于门店管理登录使用、方便强大。
</div>
</li></a>

<a href="#"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p5.jpg" alt="推广赢收平台" />
</div>
<div class="sj_list_txt">
<span>推广赢收平台</span>
推广赢利，创业中国。
</div>
</li></a>

<a href="#"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p6.jpg" alt="加盟店管理平台" />
</div>
<div class="sj_list_txt">
<span>加盟店管理平台</span>
加盟店管理，用于进货、渠道通知、内部办公等。
</div>
</li></a>


<a href="/help.html" target="_blank"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p7.jpg" alt="开发者开放平台" />
</div>
<div class="sj_list_txt">
<span>开发者开放平台</span>
获得我们方便的开发接口，接入共成长。
</div>
</li></a>

<a href="#"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p8.jpg" alt="留言反馈" />
</div>
<div class="sj_list_txt">
<span>留言反馈</span>
如果您对我们有什么意见欢迎来这里提交反馈，我们非常重视您的意见。
</div>
</li></a>

<a href="/oa" target="_blank"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p9.jpg" alt="OA办公" />
</div>
<div class="sj_list_txt">
<span>OA办公</span>
高效的OA办公平台，仅对商业会员开放。
</div>
</li></a>

<a href="/baike"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p10.jpg" alt="饮食百科" />
</div>
<div class="sj_list_txt">
<span>饮食百科</span>
我们整理了可能是最全的本地化包含百科供您查阅。
</div>
</li></a>

<a href="/index" target="_blank"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p11.jpg" alt="用户论坛" />
</div>
<div class="sj_list_txt">
<span>用户论坛</span>
发帖吧，这里有您感兴趣的一切。
</div>
</li></a>

<a href="/dai" target="_blank"><li>
<div class="sj_list_img">
<img src="{$CssDir/}images/sj_lisp_p12.jpg" alt="仿真试戴" />
</div>
<div class="sj_list_txt">
<span>仿真试戴</span>
先锋科技项目，仿真试戴一窥科技感。
</div>
</li></a>


<p hidden>

会员管理平台(消费者）<br>
（外卖）商家管理平台<br>
卖家管理系统<br>
门店管理系统<br/>
推广赢收平台<br>
加盟店管理平台<br/>
开发者开放平台help.html<br>
留言反馈
</p>
</ul>
</div>

{ZL.Label id="全站底部"/}

</body>
</html>